

<div>
  <mat-toolbar color="primary">
    <span>ABC Insurance company</span>
    <button mat-flat-button color="primary" (click)="createPolicy()">
      Create Policy
    </button>
    <button mat-icon-button [mat-menu-trigger-for]="menu">
      <mat-icon>account_circle</mat-icon>
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-toolbar>
  <mat-menu x-position="before" #menu="matMenu">
    <button mat-menu-item>Option 1</button>
    <button mat-menu-item>Option 2</button>
  </mat-menu>
</div>

<div *ngIf="!isPolicyCreated">
  <img src="assets/Insurance.jpeg">
</div>

  <router-outlet></router-outlet>


